<a href="https://colab.research.google.com/github/yabbou/python-data-science/blob/main/hw_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Set 1

Having imported the car data to github, import the data into a panda dataframe:

In [ ]:
import pandas as pd
car_info = pd.read_csv('https://raw.githubusercontent.com/yabbou/python-data-science/main/hw_3/Blank_Car_Info.csv')

Assign the column names as ```[numDoors, numCylinders, mpgHighway, mpgStreets, currentMileage, avgMileagePerTuneUp, qualityRating]```

In [ ]:
car_info.columns = ['numDoors', 'numCylinders', 'mpgHighway', 'mpgStreets', 'currentMileage', 'avgMileagePerTuneUp', 'qualityRating']
car_info

      numDoors  numCylinders  ...  avgMileagePerTuneUp  qualityRating
0            1             2  ...                  934       0.754573
1            1             3  ...                  915       0.886215
2            2             3  ...                   10       0.971624
3            2             2  ...                   10       0.848398
4            1             2  ...                  699       0.804142
...        ...           ...  ...                  ...            ...
1074         4             1  ...                  283       0.518708
1075         4             2  ...                  431       0.540775
1076         2             2  ...                   10       0.919054
1077         1             1  ...                   10       0.828795
1078         2             3  ...                  934       0.116761

[1079 rows x 7 columns]

Check for null values

In [ ]:
car_data_checked_for_null = car_info.isnull().sum()
print(car_data_checked_for_null)

numDoors               0
numCylinders           0
mpgHighway             0
mpgStreets             0
currentMileage         0
avgMileagePerTuneUp    0
qualityRating          0
dtype: int64

Use the drive colab notebook ```_2 Practice Problems, Regex, Simple ML Examples.ipynb``` to run a kmeans clustering and find the centers if the data were divided into 4 categories.

In [ ]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

kmeans = KMeans(n_clusters=4).fit(car_info)
clusters = kmeans.cluster_centers_
print(clusters)

[[2.26406926e+00 2.49783550e+00 2.61904762e+01 2.51515152e+01
  8.54476190e+02 2.33956710e+02 4.89550879e-01]
 [2.41981132e+00 2.42924528e+00 2.62971698e+01 2.72169811e+01
  2.48825472e+02 8.66966981e+02 5.46785990e-01]
 [2.35379061e+00 2.37184116e+00 2.68772563e+01 2.58032491e+01
  2.52176895e+02 2.45373646e+02 5.06421092e-01]
 [2.34146341e+00 2.47560976e+00 2.70731707e+01 2.67682927e+01
  8.75695122e+02 8.72621951e+02 5.06455425e-01]]

We are given a new car with stats ```[2, 4, 500, 300, 150, 760, .6]```. 

Find which cluster it belongs to.

In [ ]:
import numpy as np

new_car = np.array([2, 4, 500, 300, 150, 760, .6])
new_car_cluster = kmeans.predict(new_car.reshape(1,-1))
print(new_car_cluster)

[1]

We are given a new car with stats ```[2, 3, 100, 900, 500, 45]``` with the qualityRating unknown. Use SVM to find it's quality rating.  

Note: I suggest that you find a way to "bin" the quality ratings so that you have only a couple of categories instead of what is given, and only then do the SVM.

In [ ]:
from sklearn import svm

CI = car_info 
svm = svm.SVR().fit(CI.iloc[:,:-1], CI.iloc[:,-1])
new_car_2 = svm.predict([[2, 3, 100, 900, 500, 45]])
print('Quality rating:', new_car_2)

Quality rating: [0.46624115]

###Set 2

Go to yahoo finance and download the data for five stocks of your choice. See: [How to download yahoo stock data](https://www.macroption.com/yahoo-finance-download-historical-data/)

* Have the first column of your data as the **date** and the subsequent 
column as the **close price** of the stock. 
* Your sheet should have 6 columns altogether. (You should take at least a year, preferably more.) 
* Upload your data to github.
* Place your data in a colab notebook into a pandas dataframe.

Output the statistics for each column

In [1]:
import pandas as pd
TSLA = pd.read_csv('https://raw.githubusercontent.com/yabbou/python-data-science/main/hw_3/TSLA.csv')
JNJ = pd.read_csv('https://raw.githubusercontent.com/yabbou/python-data-science/main/hw_3/JNJ.csv')
NEE = pd.read_csv('https://raw.githubusercontent.com/yabbou/python-data-science/main/hw_3/NEE.csv')
SHOP = pd.read_csv('https://raw.githubusercontent.com/yabbou/python-data-science/main/hw_3/SHOP.csv')
AZRG_TA = pd.read_csv('https://raw.githubusercontent.com/yabbou/python-data-science/main/hw_3/AZRG.TA.csv')

print('TSLA\n',TSLA.head(3))
print('JNJ\n',JNJ.head(3))
print('NEE\n',NEE.head(3))
print('SHOP\n',SHOP.head(3))
print('AZRG_TA\n',AZRG_TA.head(3))

TSLA
          Date       Open       High        Low      Close  Adj Close    Volume
0  2016-03-02  36.745998  37.703999  36.299999  37.667999  37.667999  24312000
1  2016-03-03  37.655998  39.484001  36.844002  39.147999  39.147999  24145000
2  2016-03-04  39.599998  40.806000  39.500000  40.208000  40.208000  32445500
JNJ
          Date        Open        High  ...       Close  Adj Close   Volume
0  2016-03-02  106.910004  107.410004  ...  107.040001  93.625351  9767000
1  2016-03-03  106.820000  107.000000  ...  106.650002  93.284225  6927200
2  2016-03-04  106.510002  106.980003  ...  106.500000  93.153008  6715700

[3 rows x 7 columns]
NEE
          Date       Open    High        Low      Close  Adj Close    Volume
0  2016-03-02  28.059999  28.215  27.334999  28.090000  24.769686  11023600
1  2016-03-03  28.120001  28.135  27.490000  27.905001  24.606552  13735600
2  2016-03-04  27.802500  28.635  27.662500  28.572500  25.195156  11726400
SHOP
          Date       Open       High        Low      Close  Adj Close   Volume
0  2016-03-02  22.639999  24.440001  22.469999  24.360001  24.360001  1495800
1  2016-03-03  24.360001  25.709999  23.674999  24.270000  24.270000  1210500
2  2016-03-04  24.510000  25.500000  24.400000  25.160000  25.160000   877200
AZRG_TA
          Date     Open     High      Low    Close     Adj Close   Volume
0  2016-03-02  14380.0  14430.0  14210.0  14300.0  12940.657227  39026.0
1  2016-03-03  14450.0  14450.0  14180.0  14330.0  12967.804688  48552.0
2  2016-03-06  14300.0  14490.0  14300.0  14400.0  13031.151367  15012.0

Output the covariance and correlation matrices.

In [ ]:
print('TSLA: Correlation\n',TSLA.corr())
print('\nTSLA: Covariance\n',TSLA.cov())

# stocks = pd.DataFrame(TSLA,JNJ,NEE,SHOP,AZRG_TA)
# print('Correlation\n',stocks.corr())
# print('Covariance\n',stocks.cov())

TSLA: Correlation
                Open      High       Low     Close  Adj Close    Volume
Open       1.000000  0.999292  0.999547  0.999158   0.999158  0.136865
High       0.999292  1.000000  0.999125  0.999422   0.999422  0.144378
Low        0.999547  0.999125  1.000000  0.999508   0.999508  0.129084
Close      0.999158  0.999422  0.999508  1.000000   1.000000  0.138548
Adj Close  0.999158  0.999422  0.999508  1.000000   1.000000  0.138548
Volume     0.136865  0.144378  0.129084  0.138548   0.138548  1.000000

TSLA: Covariance
                    Open          High  ...     Adj Close        Volume
Open       2.938903e+04  3.014899e+04  ...  2.943357e+04  7.211389e+08
High       3.014899e+04  3.097246e+04  ...  3.022408e+04  7.809474e+08
Low        2.860242e+04  2.935043e+04  ...  2.866879e+04  6.622341e+08
Close      2.943357e+04  3.022408e+04  ...  2.952787e+04  7.317251e+08
Adj Close  2.943357e+04  3.022408e+04  ...  2.952787e+04  7.317251e+08
Volume     7.211389e+08  7.809474e+08  ...  7.317251e+08  9.446384e+14

[6 rows x 6 columns]

Use a linear regression to predict the output for the next five days of one of the stocks

In [2]:
from sklearn.linear_model import LinearRegression
import datetime as dt
import numpy as np

def toDate(x):
  return dt.datetime.toordinal(dt.datetime.strptime(x,'%Y-%m-%d'))

prices = TSLA.loc[:,'Close']
dates = pd.DataFrame([toDate(x) for x in TSLA.loc[:,'Date']])
dates = dates.values.reshape(-1,1)

model = LinearRegression()
model.fit(dates, prices)

def nextFiveDays():
  arr = np.array([ dt.datetime.toordinal(dt.datetime.now()) + x for x in range(1,6) ])
  return arr.reshape(-1,1)

future_prices = model.predict(nextFiveDays())
print('Prices for next five days:', future_prices)

Prices for next five days: [315.27478183 315.47891988 315.68305792 315.88719597 316.09133401]

Change the data so that it is represented as a log percentage gain from the previous day. (The formula would be ```log[(day_1)/(day_0)]``` )

In [9]:
log_percentage_gain = []
last = future_prices[0]
for price in list(future_prices):
  log_percentage_gain.append(np.log(price/last)*100) 
  last = price
print(log_percentage_gain)

[0.0, 0.06472829271009455, 0.06468642229187234, 0.064644606007579, 0.06460284375232322]