<a href="https://colab.research.google.com/github/yabbou/python-data-science/blob/main/project_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Dimensionality Reduction & Feature Selection Project**
==

Introduction
==

**Research Question:** _To what extent can the independent variables predict the **average miles/gallon (MPG)** for a city car?_

**Variables:** The original data set includes 10 categorical variables and 16 numerical variables. There are 25 variables for independent variables. The `city-mpg` variable will serve as the dependent variable for our regression model.

**Summary:**


Step 1: Introduction

Step 2: Exploratory Data Analysis

Step 3: Data Cleaning

Step 4: Feature Engineering and Feature Selection

Step 5: Multiple Linear Regression

Step 6: Conclusion

Part 2: EDA
==

Detailed here: https://archive.ics.uci.edu/ml/datasets

1. **symboling**: the degree which is more risky than its price indicates. It ranges from -3 (safer) to 3 (more risky). 
2. **normalized-losses**: as compared to other cars. It is the relative, average loss payment per insured vehicle year. This value is normalized for all autos within a particular size classification (two-door small, station wagons, sports/specialty, etc.), and represents the average loss per car per year. In this case, the range of normalized_losses is from 65 to 256.

3. **make**: The makers of the brand. In this dataset-- alfa-romero, audi, bmw, chevrolet, dodge, honda, isuzu, jaguar, mazda, mercedes-benz, mercury, mitsubishi, nissan, peugot, plymouth, porsche, renault, saab, subaru, toyota, volkswagen, volvo

4. **fuel-type**: diesel, gas.

5. **aspiration**: std, turbo.
6. **num-of-doors**: four, two.
7. **body-style**: hardtop, wagon, sedan, hatchback, convertible.
8. **drive-wheels**: 4wd, fwd, rwd.
9. **engine-location**: front, rear.
10. **wheel-base**:the distance between the centers of the front and rear wheels (continuous from 86.6 120.9).

11. **length**: continuous from 141.1 to 208.1.
12. **width**: continuous from 60.3 to 72.3.
13. **height**: continuous from 47.8 to 59.8.
14. **curb-weight**: the weight of an automobile without occupants or baggage (continuous from 1488 to 4066).
15. **engine-type**: dohc, dohcv, l, ohc, ohcf, ohcv, rotor.
16. **num-of-cylinders**: eight, five, four, six, three, twelve, two.
17. **engine-size**: continuous from 61 to 326.
18. **fuel-system**: 1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi.
19. **bore**: size of cylinder for each car (continuous from 2.54 to 3.94).
20. **stroke**: the distance travelled by the piston in each cycle, continuous from 2.07 to 4.17.
21. **compression-ratio**: the ratio of the maximum to minimum volume in the cylinder of an internal combustion engine (continuous from 7 to 23).
22. **horsepower**: engine's power of each car (continuous from 48 to 288).
23. **peak-rpm**: the maximum revolutions per minute (continuous from 4150 to 6600).
24. **city-mpg**: continuous from 13 to 49. **THE TARGET VARIABLE**
25. **highway-mpg**: continuous from 16 to 54.
26. **price**: continuous from 5118 to 45400.

Here is a quick look of the data:

In [97]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import missingno as msno
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

cars_df = pd.read_csv("https://raw.githubusercontent.com/MatthewFried/Udemy/master/Day3/Day3%20Data.csv")
cars_df.head()

   3    ?  alfa-romero  gas  std   two  ...     9  111  5000  21  27  13495
0  3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  16500
1  1    ?  alfa-romero  gas  std   two  ...   9.0  154  5000  19  26  16500
2  2  164         audi  gas  std  four  ...  10.0  102  5500  24  30  13950
3  2  164         audi  gas  std  four  ...   8.0  115  5500  18  22  17450
4  2    ?         audi  gas  std   two  ...   8.5  110  5500  19  25  15250

[5 rows x 26 columns]

Our data appears to have been gathered by less-than-professional data records. One column is unknown, others column names are numbers, others are shortened forms of likely common technical car terms.

Let's first clarify the column names, based on the website data.

In [98]:
COLUMNS=['Symboling', 'Normalized_Losses', 'Make', 'Fuel_Type','Aspiration','Num_Doors','Body_Style', 'Drive_Wheels','Engine_Location','Wheel_Base', 'Length','Width','Height','Curb_Weight','Engine_Type','Num_Cylinders','Engine_Size','Fuel_System','Bore','Stroke','Compression_Ratio', 'Horsepower','Peak_RPM','City_MPG','Highway_MPG','Price']
cars_df = pd.read_csv("https://raw.githubusercontent.com/MatthewFried/Udemy/master/Day3/Day3%20Data.csv", names=COLUMNS)
cars_df.columns

Index(['Symboling', 'Normalized_Losses', 'Make', 'Fuel_Type', 'Aspiration',
       'Num_Doors', 'Body_Style', 'Drive_Wheels', 'Engine_Location',
       'Wheel_Base', 'Length', 'Width', 'Height', 'Curb_Weight', 'Engine_Type',
       'Num_Cylinders', 'Engine_Size', 'Fuel_System', 'Bore', 'Stroke',
       'Compression_Ratio', 'Horsepower', 'Peak_RPM', 'City_MPG',
       'Highway_MPG', 'Price'],
      dtype='object')

Let's see some statistics for the numeric variables _without unknown values_:

In [99]:
cars_df.describe().T

                   count         mean         std  ...     50%     75%     max
Symboling          205.0     0.834146    1.245307  ...     1.0     2.0     3.0
Wheel_Base         205.0    98.756585    6.021776  ...    97.0   102.4   120.9
Length             205.0   174.049268   12.337289  ...   173.2   183.1   208.1
Width              205.0    65.907805    2.145204  ...    65.5    66.9    72.3
Height             205.0    53.724878    2.443522  ...    54.1    55.5    59.8
Curb_Weight        205.0  2555.565854  520.680204  ...  2414.0  2935.0  4066.0
Engine_Size        205.0   126.907317   41.642693  ...   120.0   141.0   326.0
Compression_Ratio  205.0    10.142537    3.972040  ...     9.0     9.4    23.0
City_MPG           205.0    25.219512    6.542142  ...    24.0    30.0    49.0
Highway_MPG        205.0    30.751220    6.886443  ...    30.0    34.0    54.0

[10 rows x 8 columns]

What are the unique values in our data? Any out of the ordinary?

In [100]:
def displayUnique():
  COLS = cars_df.columns
  for x in range(COLS.shape[0]):
    print(COLS[x])
    print(np.unique(cars_df.iloc[:,x].sort_values(ascending=False)),'\n')
displayUnique()

Symboling
[-2 -1  0  1  2  3]

Normalized_Losses
['101' '102' '103' '104' '106' '107' '108' '110' '113' '115' '118' '119'
 '121' '122' '125' '128' '129' '134' '137' '142' '145' '148' '150' '153'
 '154' '158' '161' '164' '168' '186' '188' '192' '194' '197' '231' '256'
 '65' '74' '77' '78' '81' '83' '85' '87' '89' '90' '91' '93' '94' '95'
 '98' '?']

Make
['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'mercedes-benz' 'mercury' 'mitsubishi' 'nissan' 'peugot'
 'plymouth' 'porsche' 'renault' 'saab' 'subaru' 'toyota' 'volkswagen'
 'volvo']

Fuel_Type
['diesel' 'gas']

Aspiration
['std' 'turbo']

Num_Doors
['?' 'four' 'two']

Body_Style
['convertible' 'hardtop' 'hatchback' 'sedan' 'wagon']

Drive_Wheels
['4wd' 'fwd' 'rwd']

Engine_Location
['front' 'rear']

Wheel_Base
[ 86.6  88.4  88.6  89.5  91.3  93.   93.1  93.3  93.7  94.3  94.5  95.1
  95.3  95.7  95.9  96.   96.1  96.3  96.5  96.6  96.9  97.   97.2  97.3
  98.4  98.8  99.1  99.2  99.4  99.5  99.8 100.4 101.2 102.  102.4 102.7
 102.9 103.3 103.5 104.3 104.5 104.9 105.8 106.7 107.9 108.  109.1 110.
 112.  113.  114.2 115.6 120.9]

Length
[141.1 144.6 150.  155.9 156.9 157.1 157.3 157.9 158.7 158.8 159.1 159.3
 162.4 163.4 165.3 165.6 165.7 166.3 166.8 167.3 167.5 168.7 168.8 168.9
 169.  169.1 169.7 170.2 170.7 171.2 171.7 172.  172.4 172.6 173.  173.2
 173.4 173.5 173.6 174.6 175.  175.4 175.6 175.7 176.2 176.6 176.8 177.3
 177.8 178.2 178.4 178.5 180.2 180.3 181.5 181.7 183.1 183.5 184.6 186.6
 186.7 187.5 187.8 188.8 189.  190.9 191.7 192.7 193.8 197.  198.9 199.2
 199.6 202.6 208.1]

Width
[60.3 61.8 62.5 63.4 63.6 63.8 63.9 64.  64.1 64.2 64.4 64.6 64.8 65.
 65.2 65.4 65.5 65.6 65.7 66.  66.1 66.2 66.3 66.4 66.5 66.6 66.9 67.2
 67.7 67.9 68.  68.3 68.4 68.8 68.9 69.6 70.3 70.5 70.6 70.9 71.4 71.7
 72.  72.3]

Height
[47.8 48.8 49.4 49.6 49.7 50.2 50.5 50.6 50.8 51.  51.4 51.6 52.  52.4
 52.5 52.6 52.8 53.  53.1 53.2 53.3 53.5 53.7 53.9 54.1 54.3 54.4 54.5
 54.7 54.8 54.9 55.1 55.2 55.4 55.5 55.6 55.7 55.9 56.  56.1 56.2 56.3
 56.5 56.7 57.5 58.3 58.7 59.1 59.8]

Curb_Weight
[1488 1713 1819 1837 1874 1876 1889 1890 1900 1905 1909 1918 1938 1940
 1944 1945 1950 1951 1956 1967 1971 1985 1989 2004 2008 2010 2015 2017
 2024 2028 2037 2040 2050 2081 2094 2109 2120 2122 2128 2140 2145 2169
 2190 2191 2204 2209 2212 2221 2236 2240 2254 2261 2264 2265 2275 2280
 2289 2290 2293 2300 2302 2304 2319 2324 2326 2328 2337 2340 2365 2370
 2372 2380 2385 2395 2403 2405 2410 2414 2420 2425 2443 2455 2458 2460
 2465 2480 2500 2507 2510 2535 2536 2540 2548 2551 2563 2579 2650 2658
 2661 2670 2679 2695 2700 2707 2710 2714 2734 2756 2758 2765 2778 2800
 2808 2811 2818 2823 2824 2833 2844 2847 2910 2912 2921 2926 2935 2952
 2954 2975 2976 3012 3016 3020 3034 3042 3045 3049 3053 3055 3060 3062
 3071 3075 3086 3095 3110 3130 3131 3139 3151 3157 3197 3217 3230 3252
 3285 3296 3366 3380 3430 3485 3495 3505 3515 3685 3715 3740 3750 3770
 3900 3950 4066]

Engine_Type
['dohc' 'dohcv' 'l' 'ohc' 'ohcf' 'ohcv' 'rotor']

Num_Cylinders
['eight' 'five' 'four' 'six' 'three' 'twelve' 'two']

Engine_Size
[ 61  70  79  80  90  91  92  97  98 103 108 109 110 111 119 120 121 122
 130 131 132 134 136 140 141 145 146 151 152 156 161 164 171 173 181 183
 194 203 209 234 258 304 308 326]

Fuel_System
['1bbl' '2bbl' '4bbl' 'idi' 'mfi' 'mpfi' 'spdi' 'spfi']

Bore
['2.54' '2.68' '2.91' '2.92' '2.97' '2.99' '3.01' '3.03' '3.05' '3.08'
 '3.13' '3.15' '3.17' '3.19' '3.24' '3.27' '3.31' '3.33' '3.34' '3.35'
 '3.39' '3.43' '3.46' '3.47' '3.5' '3.54' '3.58' '3.59' '3.6' '3.61'
 '3.62' '3.63' '3.7' '3.74' '3.76' '3.78' '3.8' '3.94' '?']

Stroke
['2.07' '2.19' '2.36' '2.64' '2.68' '2.76' '2.8' '2.87' '2.9' '3.03'
 '3.07' '3.08' '3.1' '3.11' '3.12' '3.15' '3.16' '3.19' '3.21' '3.23'
 '3.27' '3.29' '3.35' '3.39' '3.4' '3.41' '3.46' '3.47' '3.5' '3.52'
 '3.54' '3.58' '3.64' '3.86' '3.9' '4.17' '?']

Compression_Ratio
[ 7.    7.5   7.6   7.7   7.8   8.    8.1   8.3   8.4   8.5   8.6   8.7
  8.8   9.    9.1   9.2   9.3   9.31  9.4   9.41  9.5   9.6  10.   10.1
 11.5  21.   21.5  21.9  22.   22.5  22.7  23.  ]

Horsepower
['100' '101' '102' '106' '110' '111' '112' '114' '115' '116' '120' '121'
 '123' '134' '135' '140' '142' '143' '145' '152' '154' '155' '156' '160'
 '161' '162' '175' '176' '182' '184' '200' '207' '262' '288' '48' '52'
 '55' '56' '58' '60' '62' '64' '68' '69' '70' '72' '73' '76' '78' '82'
 '84' '85' '86' '88' '90' '92' '94' '95' '97' '?']

Peak_RPM
['4150' '4200' '4250' '4350' '4400' '4500' '4650' '4750' '4800' '4900'
 '5000' '5100' '5200' '5250' '5300' '5400' '5500' '5600' '5750' '5800'
 '5900' '6000' '6600' '?']

City_MPG
[13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36
 37 38 45 47 49]

Highway_MPG
[16 17 18 19 20 22 23 24 25 26 27 28 29 30 31 32 33 34 36 37 38 39 41 42
 43 46 47 50 53 54]

Price
['10198' '10245' '10295' '10345' '10595' '10698' '10795' '10898' '10945'
 '11048' '11199' '11245' '11248' '11259' '11549' '11595' '11694' '11845'
 '11850' '11900' '12170' '12290' '12440' '12629' '12764' '12940' '12945'
 '12964' '13200' '13295' '13415' '13495' '13499' '13645' '13845' '13860'
 '13950' '14399' '14489' '14869' '15040' '15250' '15510' '15580' '15645'
 '15690' '15750' '15985' '15998' '16430' '16500' '16503' '16515' '16558'
 '16630' '16695' '16845' '16900' '16925' '17075' '17199' '17450' '17669'
 '17710' '17950' '18150' '18280' '18344' '18399' '18420' '18620' '18920'
 '18950' '19045' '19699' '20970' '21105' '21485' '22018' '22470' '22625'
 '23875' '24565' '25552' '28176' '28248' '30760' '31600' '32250' '32528'
 '34028' '34184' '35056' '35550' '36000' '36880' '37028' '40960' '41315'
 '45400' '5118' '5151' '5195' '5348' '5389' '5399' '5499' '5572' '6095'
 '6189' '6229' '6295' '6338' '6377' '6479' '6488' '6529' '6575' '6649'
 '6669' '6692' '6695' '6785' '6795' '6849' '6855' '6918' '6938' '6989'
 '7053' '7099' '7126' '7129' '7198' '7295' '7299' '7349' '7395' '7463'
 '7499' '7603' '7609' '7689' '7738' '7775' '7788' '7799' '7895' '7898'
 '7957' '7975' '7995' '7999' '8013' '8058' '8189' '8195' '8238' '8249'
 '8358' '8449' '8495' '8499' '8558' '8778' '8845' '8921' '8948' '8949'
 '9095' '9233' '9258' '9279' '9295' '9298' '9495' '9538' '9549' '9639'
 '9895' '9959' '9960' '9980' '9988' '9989' '9995' '?']

Some numeric columns store their numbers as strings. None appear null. After we replace the unknown rows with valid values, we could convert those columns to hold integers.

Part 3: Data Cleaning
==

Nulls?

In [101]:
cars_df = cars_df.replace('?',np.NAN)
null_count = cars_df.isnull().sum()

print('Columns with null values:', [col for col in cars_df if cars_df.loc[:,col].isnull().sum()>0],'\n')
null_count = null_count[null_count>0]

print(null_count[null_count >0],'\n')
print(null_count/len(cars_df) *100)

Columns with null values: ['Normalized_Losses', 'Num_Doors', 'Bore', 'Stroke', 'Horsepower', 'Peak_RPM', 'Price']

Normalized_Losses    41
Num_Doors             2
Bore                  4
Stroke                4
Horsepower            2
Peak_RPM              2
Price                 4
dtype: int64

Normalized_Losses    20.00000
Num_Doors             0.97561
Bore                  1.95122
Stroke                1.95122
Horsepower            0.97561
Peak_RPM              0.97561
Price                 1.95122
dtype: float64

Thankfully, the unknown values appear to correlate (besides for the `Normalized Losses`).

Before null column values are replaced, let's seperate the numeric columns from the categorical.

In [105]:
def calcAndDisplayColumnTypes():  
  numeric_columns = []
  categorical_columns = []

  for i in cars_df.columns[:]:
    if(cars_df[i].dtype=='object'):
      categorical_columns.append(i)
    else:
      numeric_columns.append(i)
       
  print(len(numeric_columns),'Numeric variables:',numeric_columns)
  print(len(categorical_columns),'Categorical variables:',categorical_columns)

calcAndDisplayColumnTypes()

10 Numeric variables: ['Symboling', 'Wheel_Base', 'Length', 'Width', 'Height', 'Curb_Weight', 'Engine_Size', 'Compression_Ratio', 'City_MPG', 'Highway_MPG']
16 Categorical variables: ['Normalized_Losses', 'Make', 'Fuel_Type', 'Aspiration', 'Num_Doors', 'Body_Style', 'Drive_Wheels', 'Engine_Location', 'Engine_Type', 'Num_Cylinders', 'Fuel_System', 'Bore', 'Stroke', 'Horsepower', 'Peak_RPM', 'Price']

Some numeric columns are currently type `object`. We will change them to `float`.

In [106]:
SHOULD_BE_NUMERIC_COLS = ['Bore', 'Stroke','Normalized_Losses', 'Horsepower','Price','Peak_RPM']
cars_df[SHOULD_BE_NUMERIC_COLS] = cars_df[SHOULD_BE_NUMERIC_COLS].astype('float')

calcAndDisplayColumnTypes()

16 Numeric variables: ['Symboling', 'Normalized_Losses', 'Wheel_Base', 'Length', 'Width', 'Height', 'Curb_Weight', 'Engine_Size', 'Bore', 'Stroke', 'Compression_Ratio', 'Horsepower', 'Peak_RPM', 'City_MPG', 'Highway_MPG', 'Price']
10 Categorical variables: ['Make', 'Fuel_Type', 'Aspiration', 'Num_Doors', 'Body_Style', 'Drive_Wheels', 'Engine_Location', 'Engine_Type', 'Num_Cylinders', 'Fuel_System']

Imputation appears necessary to change some of the numeric columns from type string to float. Let's try that using the 'mean' of each column.

In [107]:
from sklearn.impute import SimpleImputer
# cars_df['Num_Doors'] = cars_df['Num_Doors'].replace('two',2).replace('four',4) 
numeric_columns_hardcoded = ['Symboling', 'Normalized_Losses', 'Wheel_Base', 'Length', 'Width', 'Height', 'Curb_Weight', 'Engine_Size', 'Bore', 'Stroke', 'Compression_Ratio', 'Horsepower', 'Peak_RPM', 'City_MPG', 'Highway_MPG', 'Price']

values = cars_df[numeric_columns_hardcoded].values
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
transformed_values = imputer.fit_transform(values)
# transformed_values 

cars_without_nulls_df = pd.DataFrame(transformed_values)
cars_without_nulls_df.columns = numeric_columns_hardcoded
cars_without_nulls_df.describe().T

                   count          mean  ...       75%       max
Symboling          205.0      0.834146  ...      2.00      3.00
Normalized_Losses  205.0    122.000000  ...    137.00    256.00
Wheel_Base         205.0     98.756585  ...    102.40    120.90
Length             205.0    174.049268  ...    183.10    208.10
Width              205.0     65.907805  ...     66.90     72.30
Height             205.0     53.724878  ...     55.50     59.80
Curb_Weight        205.0   2555.565854  ...   2935.00   4066.00
Engine_Size        205.0    126.907317  ...    141.00    326.00
Bore               205.0      3.329751  ...      3.58      3.94
Stroke             205.0      3.255423  ...      3.41      4.17
Compression_Ratio  205.0     10.142537  ...      9.40     23.00
Horsepower         205.0    104.256158  ...    116.00    288.00
Peak_RPM           205.0   5125.369458  ...   5500.00   6600.00
City_MPG           205.0     25.219512  ...     30.00     49.00
Highway_MPG        205.0     30.751220  ...     34.00     54.00
Price              205.0  13207.129353  ...  16500.00  45400.00

[16 rows x 8 columns]

In [108]:
displayUnique()

Symboling
[-2 -1  0  1  2  3]

Normalized_Losses
[ 65.  74.  77.  78.  81.  83.  85.  87.  89.  90.  91.  93.  94.  95.
  98. 101. 102. 103. 104. 106. 107. 108. 110. 113. 115. 118. 119. 121.
 122. 125. 128. 129. 134. 137. 142. 145. 148. 150. 153. 154. 158. 161.
 164. 168. 186. 188. 192. 194. 197. 231. 256.  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan]

Make
['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'mercedes-benz' 'mercury' 'mitsubishi' 'nissan' 'peugot'
 'plymouth' 'porsche' 'renault' 'saab' 'subaru' 'toyota' 'volkswagen'
 'volvo']

Fuel_Type
['diesel' 'gas']

Aspiration
['std' 'turbo']

Num_Doors

TypeError: ignored

Let us visualise the column data distributions:

In [ ]:
nd = pd.melt(cars_df[numerical_columns])
numeric = sns.FacetGrid(nd, col='variable', col_wrap=5, sharex=False, sharey = False)
numeric.map(sns.distplot, 'value')

Most attributes _generally_ fit normal distribution besides `compression_ratio` (compression ratio of 10 is very common, as seen in `.detailed()` above). Many are slightly skewed.

Here are the categorical column distributions:

In [ ]:
fig, ax = plt.subplots(4, 4, figsize=(30, 30))
for variable, subplot in zip(categorical_columns, ax.flatten()):
    sns.countplot(cars_df[variable], ax=subplot) #conut plot, bc categorical data is not continuous
    for label in subplot.get_xticklabels():
        label.set_rotation(90)

Let's visualize some of the column correlations.

In [ ]:
categorical_columns = []
FIRST_NON_NULL_ROW = 3
for col in cars_df:
  column_type = type(cars_df.loc[FIRST_NON_NULL_ROW, col])
  if column_type == str:
    categorical_columns.append(col)
print(categorical_columns)

fig = plt.figure(figsize=(16, 12)) 
corr = cars_df.copy().corr() 
sns.heatmap(corr, annot=True)

b, t = plt.ylim()
b += 0.5 
t -= 0.5 
plt.ylim(b, t) 
fig.suptitle('Numeric Correlation Heatmap') #make acc
plt.show()

Part 4: Feature Selection and Dimension Reduction
==

Validation
==